html
  head
    title()= title ? 'Page: ' + title : 'Page'
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet")

  body
    div.container-wrapper
      include sidebar
      div.content-wrapper
        include header

        block content
