div.table
  div.table__row.table__row--head
    div.table__box.table__box--title
      div.table__text Title
    div.table__box.table__box--role
      div.table__text Role
    div.table__box.table__box--service
      div.table__text Service
    div.table__box.table__box--company
      div.table__text Company
    div.table__box.table__box--status.table__box--right-align
      div.table__text Status
    div.table__box.table__box--date.table__box--right-align
      div.table__text Date
    div.table__box.table__box--actions.table__box--right-align
      div.table__text Actions

  div.table__row
    div.table__box.table__box--title
      div.table__text Title 1
    div.table__box.table__box--role
      div.table__text SUPER_ADMIN
    div.table__box.table__box--service
      div.table__text Production
    div.table__box.table__box--company
      div.table__text Aboutgoods
    div.table__box.table__box--status.table__box--right-align
      div.table__text.table__text--green.table__text--ico Connected
        i.table__text-ico
    div.table__box.table__box--date.table__box--right-align
      div.table__text 19/02/2018
    div.table__box.table__box--actions.table__box--right-align
      div.table-actions
        div.table-actions__item
          button.table-actions__btn.table-actions__btn--actions(type="button")
            svg.table-actions__ico
              use(xlink:href="#options")
        div.table-actions__item
          button.table-actions__btn(type="button")
            svg.table-actions__ico
              use(xlink:href="#edit")
  div.table__row
    div.table__box.table__box--title
      div.table__text Title 2
    div.table__box.table__box--role
      div.table__text USER
    div.table__box.table__box--service
      div.table__text Sales
    div.table__box.table__box--company
      div.table__text Charal
    div.table__box.table__box--status.table__box--right-align
      div.table__text.table__text--red.table__text--ico Disconnected
        i.table__text-ico
    div.table__box.table__box--date.table__box--right-align
      div.table__text 29/01/2018
    div.table__box.table__box--actions.table__box--right-align
      div.table-actions
        div.table-actions__item
          button.table-actions__btn.table-actions__btn--actions(type="button")
            svg.table-actions__ico
              use(xlink:href="#options")
        div.table-actions__item
          button.table-actions__btn(type="button")
            svg.table-actions__ico
              use(xlink:href="#edit")
  div.table__row
    div.table__box.table__box--title
      div.table__text Title 3
    div.table__box.table__box--role
      div.table__text ADMIN
    div.table__box.table__box--service
      div.table__text R&D
    div.table__box.table__box--company
      div.table__text IRi
    div.table__box.table__box--status.table__box--right-align
      div.table__text.table__text--green.table__text--ico Connected
        i.table__text-ico
    div.table__box.table__box--date.table__box--right-align
      div.table__text 19/02/2018
    div.table__box.table__box--actions.table__box--right-align
      div.table-actions
        div.table-actions__item
          button.table-actions__btn.table-actions__btn--actions(type="button")
            svg.table-actions__ico
              use(xlink:href="#options")
        div.table-actions__item
          button.table-actions__btn(type="button")
            svg.table-actions__ico
              use(xlink:href="#edit")

  div.table__row
    div.table__box.table__box--title
      div.table__text Title 1
    div.table__box.table__box--role
      div.table__text SUPER_ADMIN
    div.table__box.table__box--service
      div.table__text Production
    div.table__box.table__box--company
      div.table__text Aboutgoods
    div.table__box.table__box--status.table__box--right-align
      div.table__text.table__text--green.table__text--ico Connected
        i.table__text-ico
    div.table__box.table__box--date.table__box--right-align
      div.table__text 19/02/2018
    div.table__box.table__box--actions.table__box--right-align
      div.table-actions
        div.table-actions__item
          button.table-actions__btn.table-actions__btn--actions(type="button")
            svg.table-actions__ico
              use(xlink:href="#options")
        div.table-actions__item
          button.table-actions__btn(type="button")
            svg.table-actions__ico
              use(xlink:href="#edit")
  div.table__row
    div.table__box.table__box--title
      div.table__text Title 2
    div.table__box.table__box--role
      div.table__text USER
    div.table__box.table__box--service
      div.table__text Sales
    div.table__box.table__box--company
      div.table__text Charal
    div.table__box.table__box--status.table__box--right-align
      div.table__text.table__text--red.table__text--ico Disconnected
        i.table__text-ico
    div.table__box.table__box--date.table__box--right-align
      div.table__text 29/01/2018
    div.table__box.table__box--actions.table__box--right-align
      div.table-actions
        div.table-actions__item
          button.table-actions__btn.table-actions__btn--actions(type="button")
            svg.table-actions__ico
              use(xlink:href="#options")
        div.table-actions__item
          button.table-actions__btn(type="button")
            svg.table-actions__ico
              use(xlink:href="#edit")
  div.table__row
    div.table__box.table__box--title
      div.table__text Title 3
    div.table__box.table__box--role
      div.table__text ADMIN
    div.table__box.table__box--service
      div.table__text R&D
    div.table__box.table__box--company
      div.table__text IRi
    div.table__box.table__box--status.table__box--right-align
      div.table__text.table__text--green.table__text--ico Connected
        i.table__text-ico
    div.table__box.table__box--date.table__box--right-align
      div.table__text 19/02/2018
    div.table__box.table__box--actions.table__box--right-align
      div.table-actions
        div.table-actions__item
          button.table-actions__btn.table-actions__btn--actions(type="button")
            svg.table-actions__ico
              use(xlink:href="#options")
        div.table-actions__item
          button.table-actions__btn(type="button")
            svg.table-actions__ico
              use(xlink:href="#edit")